.user__avatar .settings__btn {
  transform: skew(-5deg);
}

.settings__btn {
  position: absolute;
  top: -1em;
  left: -1em;
  max-width: 2em;
  filter: drop-shadow(0 0 0.5em var(--clr-dark));
  transform: skew(5deg);
}

.settings__btn:hover {
  cursor: pointer;
}
